<div class="carousel-container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://drive.google.com/uc?id=1UPZ3sCBGPbvwwmuJrJ8oP2BixoeFV3f1"
          class="img-fluid"
          alt="freedom-trail-run-charlestown"
          width="600"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://drive.google.com/uc?id=1Vh9O_e-8DrqGLczhnHCZPhGG4BcgaMCK"
          class="img-fluid"
          alt="freedom-trail-run-king's-chapel"
          width="600"
        />
      </div>
      <div class="carousel-item">
          <img
          src="https://drive.google.com/uc?id=1la7rKoCuMFSwozf3ofkFNAZQnERtjhZx"
          class="img-fluid"
          alt="freedom-trail-run-bunker-hill-monument"
          width="600"
        />
      </div>
      <div class="carousel-item">
          <img
          src="https://drive.google.com/uc?id=1dBHbmy0zDF5FThvLYLUysK2sElQXgBUn"
          class="img-fluid"
          alt="freedom-trail-run-bunker-hill-monument"
          width="600"
        />
      </div>
      <div class="carousel-item">
          <img
          src="https://drive.google.com/uc?id=13C8HmigXWRLHCz9thYXwiqnlHhSd4D9Z"
          class="img-fluid"
          alt="freedom-trail-run-old-state-house"
          width="600"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
