.divider {
  background-color: #34495e;
  height: 4rem;
}
.carousel-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  text-align: center;
}
.footer li {
  display: inline-block;
}
.bi {
  font-size: 1.75rem;
  color: white;
}
.nav-item {
  margin-right: 1rem;
}
