<div class="container-fluid">
  <div class="hero-content">
    <div class="image-container d-flex justify-content-center p-3">
      <img
        src="https://drive.google.com/uc?id=1sKv2SaMfkr-k_VEF4A-wM3mDFqV-RhVJ"
        class="img-fluid"
        alt="freedom-trail-run-boston"
        width="200"
      />
    </div>
    <div class="header-text">
      <h2 class="header-copy">
        Our guided 5k run will show you Boston's most famous historical sites. You'll learn lots of cool things and meet fun people from all over. You will LOVE this!
        Every Saturday @ 8:30 AM.
      </h2>
    </div>
    <div class="button-col">
      <div class="button-row">
        <button type="button" class="btn btn-primary">Sign Up!</button>
      </div>
    </div>
  </div>
</div>
