<div class="container-fluid">
  <div class="hero-content">
    <div class="image-container d-flex justify-content-center p-3">
      <img
        src="https://drive.google.com/uc?id=1sKv2SaMfkr-k_VEF4A-wM3mDFqV-RhVJ"
        class="img-fluid"
        alt="freedom-trail-run-boston"
        width="200"
      />
    </div>
    <div class="header-text">
      <h2 class="header-copy">
        Freedom Trail Run is the active way to tour historic Boston! Our guided
        5k group run will show you Boston's most famous sites while you enjoy a
        fun group workout!
      </h2>
    </div>
    <div class="button-col">
      <div class="button-row">
        <a
          href="https://fareharbor.com/embeds/book/freedomtrailrun/items/47350/?full-items=yes&flow=14645"
        >
          <button type="button" class="btn btn-primary">Sign Up!</button></a
        >
      </div>
    </div>
  </div>
</div>
