<div class="container-fluid">
  <div class="image-container d-flex justify-content-center p-5">
    <img
      src="https://drive.google.com/uc?id=1sKv2SaMfkr-k_VEF4A-wM3mDFqV-RhVJ"
      class="img-fluid"
      alt="freedom-trail-run-boston"
      width="200"
    />
  </div>
  <div class="header-text">
    <p>
      Freedom Trail Run is the active way to tour historic Boston! Our guided
      5k run will show you Boston's most famous historical sites while you get
      in a light workout! <strong>We make 16 stops so runners of all abilities will have fun!</strong>
    </p>
  </div>
  <div class="button-col">
    <div class="button-row">
      <button type="button" class="btn btn-outline-primary m-3">Register</button>
    </div>
  </div>
  <div class="gallery">
    <app-carousel></app-carousel>
  </div>
</div>
